/* projects */

div.projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
	background-color: #0e1f25;
	grid-auto-flow: row;
	margin: .5em
}
div.project {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 1em;
}